* {
    box-sizing: border-box;
  }
  
  body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
  }
  
  nav { /*links at the top and Sign in/up*/
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #destinations, #actions {
    display: flex;
  }

  #destinations p , #actions p, #actions button {
    margin: 0;
    padding-right: 17px;
  }

  #actions p, #actions button {
    display: flex;
    align-items: center;
  }

  p { /*My Web Design Site Learn Design Find Inspiration Get Hired */
    margin: 0;
  }
  
  section { /*black box*/
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  h1,
  h2 { /* Explore the world's best web designs. & Created by top-rated design and creative professionals.*/
    text-align: center;
  }
  
  h1 { /* Explore the world's best web designs.*/
    margin-top: 40px;
    font-size: 32px;
  }
  
  h2 { /*Created by top-rated design and creative professionals.*/
    font-size: 16px;
    margin-bottom: 0;
  }
  
  input { /*Search bar*/
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
  }
  
  main { /*the entire Team cards*/
    background-color: white;
    padding: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .card {
    margin: 3px 16px 25px
  }

  
  nav button { /*Sign up button*/
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
  }

  .img-placeholder { /*individual Team cards*/
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
  }
  
  .card-footer { /*Team, ❤️ XX 👁️ XX */
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  
  .card-footer * { /*margin above Team */
    margin-top: 8px;
  }
  
  #subnav { /*Popular & Filter*/
    padding: 32px 72px 0;
    background-color: white;
    display: flex;
  }

  #subnav button { /*what happens to the content of Popular & Filter inside*/
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
  }
  
  #filter {
    display: flex;
    margin-left: auto;
  }

  #trending {
    display: flex;
    margin-bottom: 40px;
  }

  #trending p { /*Trending searches, 4 x Content*/
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
    display: flex;
  }

  #trending, #trending p {
    align-items: center;
    gap: 12px;
  }